body {
    background-color: #E5FFE5;
    color: black;
    font-family: 'Segoe UI';
    font-size: 14px;
}

h1 {
    color: red;
    font-size: 16px;
    border-bottom: 1px solid black;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: red;
}

a:hover {
    color:blue;
}

.img-right {
    float: right;
    width: 300px;
}

img {
    width: 250px;
    border: 1px solid red;
    padding: 10px;
    opacity: 0.5;
}